.object
  .embedded-object
    display: none;

.track-list-area
  width: 600px;
  height: 180px;

.track-list,
.track-list-parsed
  width: 295px;
  height: 180px;

.track-list
  float: left;
.track-list-parsed
  float: right;
  background-color: rgb(0%, 65.3%, 100%)