.track-result
  text-align: left

.unknown-track .track-result
  background-color: #ffe2e2
.found-track 
  .track-result
    background-color: #e2ffe3
  .found-track-album-art
    max-width: 25px
    max-height: 25px